<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Olá, mundo! Seja bem vindo!</h1>

    <p>Hora certa: {{ now }}</p>

    <ul>
        {% for transacao in transacoes %}
            {% if transacao == 'transação 01' %}
                <li><b>{{ transacao }}</b></li>
            {% else %}
                <li>{{ transacao }}</li>
            {% endif %}
        {% endfor %}
    </ul>
</body>
</html>