<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Listagem</h2>

    <ul>
        {% for transacao in transacoes %}
            <li>
                <a href="{% url 'url_update' transacao.id %}">
                    {{ transacao.descricao }} - {{ transacao.valor }} / {{ transacao.categoria }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'url_nova' %}">Novo</a>

</body>
</html>